.header-main{
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2229;

}
.company-logo{
  height: 40px;
}

.navbar {
  width: 70%;
  margin: auto;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}
.navbar li a {
    color: white;
    text-decoration: none; 
}
.navbar li a:hover{
  color: #464FEC;
  font-weight: bold;
}
.nav-item-download{
  background-color: black;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.login-btn{
  background:transparent;
  border: none;
  color: #fff;
  font-size: 15px;
cursor: pointer;
}
.sign-up-btn{
  background: linear-gradient(to right, #464FEC,#7F30E9);
  color: #fff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
}